<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>FriendFinder</title>
</head>
<body>
    <div class="row nav_bar">
        <ul class="nav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% else %}
            <li><a href="{{ url_for('user', name=current_user.name) }}">Profile</a></li>
            <li><a href="{{ url_for('see_posts') }}">Message Board</a></li>
            <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
            {% endif %}
        </ul>
    </div>

    {% block content %}
    
    
    
    
    
    
    {% endblock content %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>

