{% extends "base.html" %}

{% block content %}
    
   <div class="container profile_page">
    <div class="card" style="width: 18rem;">
        <img src="../static/images/avatar.png" class="card-img-top" alt="avatar">
        <div class="card-body">
          <h3 class="card-title">{{ user.name }}</h3>
          <p class="card-text">{{ user.email }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ user.city}}, {{ user.state }}</li>
          <li class="list-group-item">My kid(s) go(es) to: {{ user.school}}</li>
          <li class="list-group-item">My kid(s) is/are in grade: {{ user.grade }}</li>
        </ul>
      </div>
      <div class="card">
        <h5 class="card-header">Recent Posts</h5>
        <div class="card-body">
            {% if posts %}
            {% for post in posts %}
            <p>
            <b><h5>{{ post.title }}</h5>{{ post.message }}</b>
            </p>
            {% endfor %}
            {% if prev_url %}
            <a href="{{ prev_url }}">Newer posts</a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}">Older posts</a>
            {% endif %}
            {% endif %}
        </div>
      </div>
    </div> 
{% endblock %}